body {
    /* background: linear-gradient(to bottom, rgba(110, 44, 243, 0.8), #f8f9fa); */
    background-color: #f8f9fa;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.navbar {
    background-color: #6E2CF3;
}

.navbar h1 {
    color: #fff;
}

.cadastro-btn {
    background-color: #0039ac;
    color: #fff;
}

.cadastro-btn:hover {
    background-color: #001f66;
    color: #fff;
}

.nav-item:hover {
    background-color: #8a50ff;
    border-radius: 50px;
}

.nav-link:hover {
    color: #fff;
    transition: 0.3s;
}

.sair-btn {
    background-color: #f10000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.sair-btn:hover {
    background-color: #ff3333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio_text {
    color: #000;
}

.btn-custom-color {
    background-color: #6E2CF3;
    color: #fff;
}

.btn-custom-color:hover {
    background-color: #4000c0;
    color: #fff;
}

.no-hover-color:hover {
    color: #fff;
    text-decoration: none;
}

#esqueci_senha {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

#esqueci_senha:hover {
    text-decoration: underline;
}

.custom-label {
    font-weight: 700;
}

.bg-entrada {
    background-color: #28a745;
}

.bg-saida {
    background-color: #dc3545;
}

.bg-faltou {
    background-color: #ffc107;
}

.imagem_perfil {
    width: 100px;
    height: 100px;
}
