body {
    background-color: #f8f9fa;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h2 {
    text-transform: uppercase;
}

.inicio_text{
    color: #000;
}

.btn-custom-color {
    background-color: #6E2CF3;
    color: #fff;
}

.btn-custom-color:hover {
    background-color: #5500ff;
    color: #fff;
}

.navbar {
    background-color: #6E2CF3;
}

.navbar h1 {
    color: #fff;
}

.no-hover-color:hover{
    color: #fff;
    text-decoration: none;
}

#esqueci_senha {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

#esqueci_senha:hover {
    text-decoration: underline;
}




.imagem_perfil {
    width: 100px;
    height: 100px;
}